@import "~bootstrap/dist/css/bootstrap.css";

.ml_user-image {
  height: 100px;
  width: 100px;
}

button {
  margin: 0 8px;
}

.card {
  display: inline-block;
}

table tr {
  cursor: pointer;
}

tr.explore-items, tr.explore-items td {
  height:50px!important;
  max-height: 50px!important;
}

tr.explore-items img {
  height: 25px;
}
tr.explore-items div, tr.explore-items td {
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.explore-content {
  background: silver;
  padding: 16px;
}
tr.explore-items:hover {
  background-color: #11BBFF;
  border-radius: 5px;
}
.explore-icon {
  text-align: center;
  width: 50px;
  padding-left: 16px;
}

.explore-icon .material-icons {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.explore-title {
  height: 50px;
  padding-left: 24px;
  padding-top: 8px;
}

.ml_friend-foto img {
  height: 100px;
  width: auto;
}
.ml_friend-foto {
  width: 14rem;
  text-align: center;
}
.resource-input {
  vertical-align: middle!important;
  padding: 0!important;
}
.resource-input input {
  width: 100%;
}
.user-list img {
  width: 50px;
  height: 50px;
}
.user-list {
  list-style: none;
}
.profile-subtable,
.profile-subtable tr,
.profile-subtable td {
  border: none;
}
.icons {
  text-align: right!important;
  padding-right: 0!important;
}
.brand-image {
  width: 36px;
  height: 36px;
}
tr {
  height: 50px;
}
table.document-view {
  table-layout: fixed;
  width: 100%;
}
table.document-view td {
  width: 33%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 8px;

}
.explore-table {
  table-layout: fixed;

}

