@import "~bootstrap/dist/css/bootstrap.css";

.ml_user-image {
  height: 100px;
  width: 100px;
}

button {
  margin: 0 8px;
}

.card {
  display: inline-block;
}

table tr {
  cursor: pointer;
}

tr.explore-items, tr.explore-items td {
  height:50px!important;
  max-height: 50px!important;
}

tr.explore-items img {
  height: 25px;
}
tr.explore-items div, tr.explore-items td {
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.explore-content {
  background: silver;
  padding: 16px;
}
tr.explore-items:hover {
  background-color: #11BBFF;
  border-radius: 5px;
}
.explore-icon {
  text-align: left;
  width: 50px;
  padding-left: 16px;
}
.explore-title {
  height: 50px;
  padding-left: 24px;
  padding-top: 8px;
}

.ml_friend-foto img {
  height: 100px;
  width: auto;
}
.ml_friend-foto {
  width: 14rem;
  text-align: center;
}
.resource-input input {
  width: 100%;
}
