@import "~bootstrap/dist/css/bootstrap.css";

.ml_user-image {
  height: 100px;
  width: 100px;
}

button {
  margin: 0 8px;
}

.card {
  display: inline-block;
}

table tr {
  cursor: pointer;
}

tr.explore-items, tr.explore-items td {
  height:50px!important;
  max-height: 50px!important;
}

tr.explore-items img {
  height: 25px;
}
tr.explore-items div, tr.explore-items td {
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.explore-content {
  background: silver;
  padding: 16px;
  width: 100%;
}
tr.explore-items:hover {
  background-color: #11BBFF;
  border-radius: 5px;
}
.explore-icon {
  text-align: center;
  width: 50px;
  padding-left: 16px;
}

.explore-icon .material-icons {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #646464;
}
.explore-title {
  height: 50px;
  padding-left: 24px;
  padding-top: 8px;
}

.ml_friend-foto img {
  height: 100px;
  width: auto;
}
.ml_friend-foto {
  width: 14rem;
  text-align: center;
}
.resource-input {
  vertical-align: middle!important;
  padding: 0!important;
}
.resource-input input {
  width: 100%;
}
.user-list img {
  width: 60px;
  height: 60px;
}
.user-list {
  list-style: none;
}
.profile-subtable,
.profile-subtable tr,
.profile-subtable td {
  border: none;
}
.icons {
  text-align: right!important;
  padding-right: 0!important;
}
.brand-image img {
  width: 36px;
  height: 36px;
}
.brand-image {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}
.head-image {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.head-image span {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
}
.main-header {
  height: 100px;
}

.logout-main {
  float: right;
  display: inline-block;
  height: 50px;
  width: 50px;
  border: none;
  background: none;
}

button {
  background: none!important;
  border: none!important;

}
button.btn-primary {
  color: black!important;
}
button.btn-danger {
  color: red!important;
}
button:focus {
  outline: none;
  border: none;
}
button:hover {
  background: none!important;
}
tr {
  height: 50px;
}
table.document-view {
  table-layout: fixed;
  width: 100%;
}
table.document-view td {
  width: 33%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 8px;

}
.explore-table {
  table-layout: fixed;

}

.explore-edit-file {
  width: 100%;
  height: 200px;
}
.profile-table tr, .profile-table td  {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}
.unread-message {
  background: silver;
}
.message,
.message td{
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.image-chat {
  width: 20px;
  height: 20px;
  margin: 0 6px;
}
.chat-actions {
  text-align: right;
  padding: 8px;
}
.users-chat-list b {
  margin-right: 8px;
}

.chat-list {
  table-layout: fixed;
}
.chat-container {
  width: 1000px;
  height: 100%;
}
.chat-message-list {
  position: fixed;
  top: 3%;
  left: 29.5%;
  width: 63.5%;
  height: 94%;
  border: 1px solid silver;

}
.explore-file-content {
  margin: auto;
  height: 100%;
}

.explore-file-content .explore-items {
  height: 58px;
  padding-top: 8px;
  cursor: pointer;

}
.explore-file-content .explore-items:hover {
  background: #ababab;

}
.explore-file-content .explore-items .explore-icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  float: left;
}
.explore-file-content .explore-items .explore-text-name {
  width: calc(100% - 300px);
  height: 50px;
  display: inline-block;
  float: left;
}
.explore-file-content .explore-items .resource-input {
  width: calc(100% - 300px);

  display: inline-block;
}

.explore-file-content .explore-items .resource-input input {
  width: 500px;
}
.explore-file-content .explore-items .resource-input input,
.explore-file-content .explore-items .resource-input button {
  display: inline-block
}

.explore-file-content .explore-items .icons {
  width: 250px;
  height: 50px;
  display: inline-block;
}

.explore-header-actions {
  float: right;
  display: inline-block;
}

.chat-message-list td {
  border: none!important;
}
.chat-friends-list {
  position: fixed;
  left: 7%;
  top: 3%;
  width: 22.5%;
  height: 94%;
  border: 1px solid silver;
  border-right: none;

}

.chat-friends-list .content {
  width: 100%;
  overflow-y: scroll;
  height: calc(100% - 60px);
}
.chat-message-list-reverse .content {
  display: flex;
  flex-direction: column-reverse;
}

.chat-message-list .content {
  background: whitesmoke;
}

.chat-message-list .content,
.explore-file-content .content{
  width: 100%;
  overflow-y: scroll;
  height: calc(100% - 60px);
  padding: 10px;
}
.explore-modal-create {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 800px;
  height: 150px;
  vertical-align: middle;
  margin-top: -75px;
  margin-left: -400px;
  background: white;
  border: 1px solid silver;
  z-index: 200;
  padding: 25px;
}
.explore-modal-create button {
  float: right;
}
.explore-modal-create input {
  width: 500px;
  border-radius: 2px;
  border: 1px solid silver;
}
.explore-modal-wrapper {
  background-color: grey;
  position: fixed;
  top: 0;
  left: 0;
  opacity: .6;
  width: 100%;
  height: 100%;
  z-index: 150;
}

.explore-file-content .header {
  padding-top: 8px;
  padding-left: 34px;
}
.explore-file-content .header .explore-header-title {
  padding-top: 8px;
  display: inline-block;
}

#fileArea {
  display:none;
  width: 24px;
  opacity: 0;
  cursor: pointer;
  height: 30px;
}
.explore-header-line {
  width: calc(100% - 270px);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.explore-header-line .explore-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;
}
.explore-header-location {
  width: calc(100% - 60px);
  display: inline-block;
}

.chat-message-list .content .users-chat-list {
  width: 100%;
}

.friend {
  width: 100%;
  height: 70px;
  cursor: pointer;
}
.friend img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

textarea{
  overflow-y: hidden;
  /* demo only: */
  padding:10px;
  width: calc(100% - 16px);
  margin-left: 8px;
  font-size:14px;
  display:block;
  border-radius:16px;
  margin-top: 10px;
  resize: none;
  border:1px solid silver;
}

textarea:focus, input:focus{
  outline: 0;
}

*:focus {
  outline: 0;
}

.selected-friend {
  background: #ababab;
}

.message-text div {
  min-height: 24px;
}
.message-text-input {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
.header {
  height: 60px;
  padding: 8px;
  border-bottom: 1px solid silver;
}
.header img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.chat-friends-list .header {
  text-align: right;
}
.message.error {
  color: red;
}
.friend:hover {
  background: #ababab;
}
.friend.unread {
  font-weight: bold;
}
.chat-icons {
  height: 60px;
}


.chat-actions label input {
  width: 50px;
  opacity: 0;
  height: 50px;
  display: inline-block;

}
.chat-actions label button {
  margin-right: -50px;
}

.chat-actions label {
  cursor: pointer;
}

.friend-photo {

  float: left;
  height: 70px;
  width: 70px;
}
.friend-text {
  float: left;
  display: inline-block;
  margin-left: 10px;
  height: 70px;
  width: calc(100% - 140px);

}
.friend-time {
  width: 60px;
  overflow: hidden;
  float: left;
  font-size: 80%;
  height: calc(100% - 10px);
  padding-top: 20px;
}

.friend-last, .friend-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 25px
}
.friend-name {
  margin-top: 10px;
}
.friend-last {
  font-size: 90%;
}
.no-user-selected {
  padding: 16px;
}
.message-text {
  padding: 16px;
  margin: 8px;
  border-radius: 16px;

}
.own.message-text {
  position: relative;
  background: #69E35D;
  box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
  max-width: 60%;
  float: right;
  display: inline-block;
}

.their.message-text {
  position: relative;
  background: white;
  max-width: 60%;
  float: left;
  box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
}

.attachment {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: 10px;
  color: black;
}
.attachment button {
  color: black;
}
.message-text .delete {
  float: right;
  cursor: pointer;
  color: red;
}
.chat-friends-list,
.chat-message-list,
.explore-file-content {
  background: lightgray;
}

.delete {
  visibility: hidden;

}
.message-text:hover .delete {
  visibility: visible;
}
.chat-icons select {
  opacity: 0;
}
.chat-icons select option {
  width: 100px;
  background: red;
}
.chat-icons .emoji {
  width: 44px;
  height: 44px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.selected-icon {
  display: inline-block;

}
.CodeMirror-sizer {
  margin-left: 0;
}
.ui-wrapper {
  width: 100%;
  border: 1px solid silver;
  background: white;
  font-size: 100%;
}
.explore-context-menu {
  z-index: 100;
  background: white;
}
.chat-icon-list {
  position: fixed;
  z-index: 2000;
  right: calc(7% + 190px);
  bottom: 4%;
  max-height: 800px;
  width: 540px;
  overflow-y: auto;
  padding: 10px;
  background: white;
}
.chat-icon-item {
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  height: 50px;
  line-height: 50px;
  width: 50px;
  display: inline-block;
}
.chat-icon-item:hover {
  background: #ababab;
}
.chat-icon-list-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: transparent;
}
#dropdown-basic {
  width: 50px;
  background: none;
  border: none;
  color: #646464;
}
#dropdown-basic:focus{
  outline: 0!important;
  border: none;
}
.add-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 800px;
  height: 300px;
  vertical-align: middle;
  margin-top: -150px;
  margin-left: -400px;
  background: white;
  border: 1px solid silver;
  z-index: 200;
  padding: 25px;
}
.add-modal-wrapper {
  background-color: grey;
  position: fixed;
  top: 0;
  left: 0;
  opacity: .6;
  width: 100%;
  height: 100%;
  z-index: 150;
}

.inline-login {
  color: #007bff;
  margin: 0;
}

.chat-friends-header {
  float: left;
  margin: 0;
  padding: 0;
  margin-left: 7px;
}
